<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Respository graph</title>
    </head>
    <body>
        <h1>GitHub Graph</h1>

        <div id="graphCommits" data-graph="commitStuff">

        </div>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/userNames.js"></script>
        <script src="js/graphData.js"></script>
    </body>
</html>

