<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cutive+Mono|Miriam+Libre" rel="stylesheet">
    <!--style sheet goes here-->
    <title>Search for a user results</title>
</head>

<body>
    <div class="row container">
        <h1>Search for a GitHub Handle</h1>

        <div id="enterUsername" data-repo="repo">
            <input type="search" id="searchBar">
            <a class="waves-effect waves-teal btn-flat" id="search">Search</a>
            <!--<a class="waves-effect waves-light btn" id="search">button</a>-->
            <!--<button id="search">Search</button>-->
        </div>
    </div>
    
    <script src="js/jquery-3.1.1.min.js"></script>
    <!--graph plot thing goes here-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/userNames.js"></script>
    <!--<script src="js/graphData.js"></script>-->
</body>

</html>