<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cutive+Mono|Miriam+Libre" rel="stylesheet">
    <title>Repositiory names</title>
</head>

<body>
    <h1>GitHub Repo</h1>
    <!--start of my content-->
    <div class="row container">
        <table>
            <tr>
                <th>Repo Name</th>
                <th>Commits</th>
            </tr>

            <tr>
                <% for (var i in repos) { %>
                    <tr>
                        <td>
                            <%= repos[i].name %>
                        </td>
                        <td>
                            <a id="commitLink" href="#" data-link="<%= repos[i].commits_url %>">
                                <%= repos[i].commits_url %>
                            </a>
                        </td>
                    </tr>
            </tr>
            <% } %>
        <!--loop for displaying repos above-->
        </table>
    </div>
    <!--end of my content container-->

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/userNames.js"></script>
    <!--<script src="js/graphData.js"></script>-->
</body>

</html>