/*start of page sections*/
#title{
    margin-top: 10%;
}

/*end of page sections*/

/*start of text section*/
h1{
    text-align: center;
    font-family: 'Miriam Libre', sans-serif;
}

#enterUsername{
    font-family: 'Miriam Libre', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

a[name] {
    display: block;
    font-family: 'Cutive Mono', monospace;
    color: #000000;
}
/*end of test sections*/

/*start of input feild*/
#search{
    margin-left: 45%;
    
}
/*end of input feilds*/




